<p>album-form-update-reactive works!</p>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <!-- Title input -->
  <div>
    <label>
      Title:
      <input type="text" formControlName="title" />
    </label>
  </div>
  <div>
    <!-- Year input -->
    <label>
      Year:
      <input type="text" formControlName="year" />
    </label>
    <div *ngIf="year.errors?.min && year.touched">
      {{ year.errors.min.actual }} The year is too low 1909 is the minimum
    </div>
    <div *ngIf="year.errors?.max && year.touched">
      {{ year.errors.max.actual }} The year is too big 2030 is the minimum
    </div>
    <div *ngIf="year.errors?.pattern && year.touched">
      {{ year.errors.pattern.actual }} You must introduce a number
    </div>
  </div>

  <!--Genre Input  -->
  <div>
    <label>
      Genre:
      <input type="text" formControlName="genre" />
    </label>
  </div>

  <!--CoverUrl Input  -->
  <div>
    <label>
      CoverUrl:
      <input type="text" formControlName="coverUrl" />
    </label>
  </div>

  <!--artistId Input  -->
  <div>
    <label>
      artistId:
      <input type="text" formControlName="artistId" />
    </label>
  </div>

  <button type="submit" [disabled]="!myForm.valid">Submit</button>
</form>
