<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <!-- Title input -->
  <div>
    <label>
      Name:
      <input
        type="text"
        formControlName="name"
        placeholder="name of the artist or band"
      />
    </label>
  </div>
  <div>
    <!-- Year input -->
    <label>
      Birthdate:
      <input
        type="date"
        formControlName="birthdate"
        min="1909-01-01"
        max="2030-12-31"
        placeholder="year when the artist was born or the band was created"
      />
    </label>
    <div *ngIf="birthdate.errors?.min && birthdate.touched">
      {{ birthdate.errors.min.actual }} The birthdate is too low the minimum
      year is 1909.
    </div>
    <div *ngIf="birthdate.errors?.max && birthdate.touched">
      {{ birthdate.errors.max.actual }} The birthdate is too low the maximum
      year is 2030
    </div>
  </div>

  <!--Genre Input  -->
  <div>
    <label>
      Deathdate:
      <input
        type="date"
        formControlName="deathDate"
        min="1909-01-01"
        max="2030-12-31"
        placeholder="year when the artist died or the band split up"
      />
    </label>
  </div>

  <!--photoUrl Input  -->
  <div>
    <label>
      photoURL:
      <input type="text" formControlName="photoUrl" />
    </label>
  </div>

  <button type="submit" [disabled]="!myForm.valid">Submit</button>
</form>
