<div class="form-wrapper">
  <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="from-full-width">
      <mat-label>Title</mat-label>
      <input
        matInput
        placeholder="title of the album"
        formControlName="title"
      />
    </mat-form-field>
    <br />
    <mat-form-field
      hintLabel="Min year 1909, max year 2030"
      appearance="outline"
      class="from-full-width"
    >
      <mat-label>Enter the album year</mat-label>
      <input
        matInput
        #input
        placeholder="year when the album was published"
        formControlName="year"
      />
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline" class="from-full-width">
      <mat-label>Genre</mat-label>
      <input
        matInput
        placeholder="genre of the album"
        formControlName="genre"
      />
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline" class="from-full-width">
      <mat-label>Cover URL</mat-label>
      <input
        matInput
        placeholder="url link to a cover picture of the album"
        formControlName="coverUrl"
      />
    </mat-form-field>
    <br />
    <button
      mat-flat-button
      class="button-submit"
      type="submit"
      [disabled]="!myForm.valid"
    >
      Submit
    </button>
  </form>
</div>
