<div class="form-wrapper">
  <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="from-full-width">
      <mat-label>Title</mat-label>
      <input
        matInput
        placeholder="title of the album"
        formControlName="title"
      />
    </mat-form-field>
    <br />
    <mat-form-field
      hintLabel="Min year 1909, max year 2030"
      appearance="outline"
      class="from-full-width"
    >
      <mat-label>Enter the album year</mat-label>
      <input
        matInput
        #input
        placeholder="year when the album was published"
        formControlName="year"
      />
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline" class="from-full-width">
      <mat-label>Genre</mat-label>
      <input
        matInput
        placeholder="genre of the album"
        formControlName="genre"
      />
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline" class="from-full-width">
      <mat-label>Cover URL</mat-label>
      <input
        matInput
        placeholder="url link to a cover picture of the album"
        formControlName="coverUrl"
      />
    </mat-form-field>
    <br />
    <button
      mat-flat-button
      class="btn-submit"
      type="submit"
      [disabled]="!myForm.valid"
    >
      Submit
    </button>
  </form>
</div>
<!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

  <div>
    <label>
      Title:
      <input type="text" formControlName="title" />
    </label>
  </div>
  <div>

    <label>
      Year:
      <input type="text" formControlName="year" />
    </label>
    <div *ngIf="year.errors?.min && year.touched">
      {{ year.errors.min.actual }} The year is too low 1909 is the minimum
    </div>
    <div *ngIf="year.errors?.max && year.touched">
      {{ year.errors.max.actual }} The year is too big 2030 is the minimum
    </div>
    <div *ngIf="year.errors?.pattern && year.touched">
      {{ year.errors.pattern.actual }} You must introduce a number
    </div>
  </div>


  <div>
    <label>
      Genre:
      <input type="text" formControlName="genre" />
    </label>
  </div>


  <div>
    <label>
      CoverUrl:
      <input type="text" formControlName="coverUrl" />
    </label>
  </div>

  <button type="submit" [disabled]="!myForm.valid">Submit</button>
</form>
 -->
