<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title
      ><a routerLink="/detail/{{ album._id }}">{{
        album.title
      }}</a></mat-card-title
    >
    <mat-card-subtitle>{{ album.genre }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <!--  <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p> -->
  </mat-card-content>
  <mat-card-actions>
    <a
      *ngIf="this.router.url !== '/detail/' + album._id"
      mat-button
      routerLink="/detail/{{ album._id }}"
      mat-button
      color="primary"
    >
      EDIT
    </a>
    <button mat-button color="warn" (click)="deleteCard()">DELETE</button>
  </mat-card-actions>
</mat-card>
