<mat-card class="card">
  <mat-card-header>
    <mat-card-title
      ><a class="album-title" routerLink="/detail/{{ album._id }}">{{
        album.title
      }}</a></mat-card-title
    >
    <mat-card-subtitle>{{ album.genre }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{ album.coverUrl }}" alt="the cover of the album" />
  <mat-card-content> </mat-card-content>
  <mat-card-actions>
    <a
      *ngIf="this.router.url !== '/detail/' + album._id"
      mat-button
      routerLink="/detail/{{ album._id }}"
      mat-button
      class="btn-edit"
    >
      EDIT
    </a>
    <button mat-button class="btn-delete" (click)="deleteCard()">DELETE</button>
  </mat-card-actions>
</mat-card>
