<div *ngIf="artist">
  <h2>{{ artist.name | uppercase }} Details</h2>
  <div>title: {{ artist.name }}</div>
  <div *ngIf="artist.deathDate">Birthdate: {{ artist.birthdate | date }}</div>
  <div>Deathdate: {{ artist.deathDate | date }}</div>
  <div>PhotoURL: {{ artist.photoUrl }}</div>
  <div>artistId: {{ artist._id }}</div>
  <button (click)="goBack()">go back</button>
  <app-artist-form-update-reactive
    [action]="'update'"
    [artist]="artist"
  ></app-artist-form-update-reactive>
</div>

<div *ngIf="albums">
  <h2>You have the following albums for this artist:</h2>
  <ul *ngFor="let album of albums">
    <li *ngIf="album.artistId === artist._id">{{ album.title }}</li>
  </ul>
</div>

<app-messages></app-messages>
