<section class="artist-detail-container">
  <h1 class="title">
    <a class="arrow-left-icon" (click)="goBack()">
      <mat-icon>keyboard_backspace</mat-icon></a
    >Artist Details
  </h1>
  <div *ngIf="artist" class="main">
    <div class="img-wrapper">
      <img *ngIf="artist.photoUrl" src="{{ artist.photoUrl }}" alt="" />
      <img
        *ngIf="artist.photoUrl === ''"
        src="http://via.placeholder.com/300x360"
        alt="a placeholder photo"
      />
    </div>

    <app-artist-form-reactive
      [artist]="artist"
      [action]="'update'"
    ></app-artist-form-reactive>

    <div class="artists-albums-container">
      <h2>Artist's albums:</h2>
      <ul *ngFor="let album of albums">
        <li *ngIf="album.artistId === artist._id">
          {{ album.title }}
        </li>
      </ul>
    </div>
    <!-- <app-messages></app-messages> -->
  </div>
</section>
