<div class="form-wrapper">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="form-full-width">
      <mat-label>Name</mat-label>
      <input
        matInput
        placeholder="name of the artist or band"
        formControlName="name"
      />
    </mat-form-field>
    <br />
    <mat-form-field class="form-full-width" appearance="outline">
      <mat-label>Birthday or day of founding</mat-label>
      <input
        matInput
        formControlName="birthdate"
        [min]="minDate"
        [max]="maxDate"
        [matDatepicker]="picker1"
      />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <br />
    <mat-form-field class="form-full-width" appearance="outline">
      <mat-label>Death date or band split up</mat-label>
      <input
        matInput
        formControlName="deathDate"
        [min]="minDate"
        [max]="maxDate"
        [matDatepicker]="picker2"
      />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-full-width">
      <mat-label>Photo URL</mat-label>
      <input
        matInput
        placeholder="url link to a photo or picture of the artist"
        formControlName="photoUrl"
      />
    </mat-form-field>
    <br />
    <button
      mat-flat-button
      class="btn-submit"
      type="submit"
      [disabled]="!myForm.valid"
    >
      Submit
    </button>
  </form>
</div>

<!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

  <div>
    <label>
      Name:
      <input
        type="text"
        formControlName="name"
        placeholder="name of the artist or band"
      />
    </label>
  </div>
  <div>

    <label>
      Birthdate:
      <input
        type="date"
        formControlName="birthdate"
        min="1909-01-01"
        max="2030-12-31"
        placeholder="year when the artist was born or the band was created"
      />
    </label>
    <div *ngIf="birthdate.errors?.min && birthdate.touched">
      {{ birthdate.errors.min.actual }} The birthdate is too low 1909 is the
      minimum
    </div>
    <div *ngIf="birthdate.errors?.max && birthdate.touched">
      {{ birthdate.errors.max.actual }} The birthdate is too big 2030 is the
      minimum
    </div>
    <div *ngIf="birthdate.errors?.pattern && birthdate.touched">
      {{ birthdate.errors.pattern.actual }} You must introduce a number
    </div>
  </div>


  <div>
    <label>
      Deathdate:
      <input
        type="date"
        formControlName="deathDate"
        min="1909-01-01"
        max="2030-12-31"
        placeholder="year when the artist died or the band split up"
      />
    </label>
  </div>


  <div>
    <label>
      PhotoUrl:
      <input type="text" formControlName="photoUrl" />
    </label>
  </div>


  <button type="submit" [disabled]="!myForm.valid">Submit</button>
</form>
 -->
