.card-form-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 900px;
  padding-top: 80px;
}
.img-wrapper img {
  background-position: center;
  background-repeat: no-repeat;
}
