<!-- <div *ngIf="album">

  <h2>{{ album.title | uppercase }}</h2>
  <div><img src="{{ album.coverUrl }}" alt="" /></div>
  <mat-list role="list">
    <mat-list-item role="listitem">title: {{ album.title }}</mat-list-item>
    <mat-list-item role="listitem">genre: {{ album.genre }}</mat-list-item>
    <mat-list-item role="listitem">year: {{ album.year }}</mat-list-item>
    <mat-list-item role="listitem"
      >coverUrl: {{ album.coverUrl }}
    </mat-list-item>
  </mat-list>
</div> -->
<!-- <a (click)="goBack()"> <mat-icon>keyboard_backspace</mat-icon></a> -->
<div *ngIf="album" class="card-form-wrapper">
  <!-- <app-card [album]="album"></app-card> -->
  <div class="img-wrapper">
    <img src="{{ album.coverUrl }}" alt="" />
  </div>
  <div>
    <h2>Details</h2>
    <div *ngFor="let artist of artists">
      <h4 *ngIf="artist._id === album.artistId">Author: {{ artist.name }}</h4>
    </div>
    <p>title: {{ album.title }}</p>
    <p>genre: {{ album.genre }}</p>
    <p>year: {{ album.year }}</p>
    <p>coverUrl: {{ album.coverUrl }}</p>
    <p>artistId: {{ album.artistId }}</p>
  </div>
  <app-album-form-reactive
    [album]="album"
    [action]="'update'"
  ></app-album-form-reactive>
  <app-artist-search
    *ngIf="!album.artistId"
    [album]="album"
  ></app-artist-search>
</div>

<!-- <button (click)="goBack()">go back</button> -->
<!-- <div *ngIf="album">
  <div>
    <h2>{{ album.title | uppercase }} Details</h2>
    <div>title: {{ album.title }}</div>
    <div>genre: {{ album.genre }}</div>
    <div>year: {{ album.year }}</div>
    <div>
      <p>coverUrl: {{ album.coverUrl }}</p>
      <img src="{{ album.coverUrl }}" alt="" />
    </div>

    <div>artistId: {{ album.artistId }}</div>
    <div *ngFor="let artist of artists">
      <h4 *ngIf="artist._id === album.artistId">
        The author of this album is: {{ artist.name }}
      </h4>
    </div>
    <button (click)="goBack()">go back</button>
    <app-album-form-reactive
      [album]="album"
      [action]="'update'"
    ></app-album-form-reactive>

    <app-artist-search
      *ngIf="!album.artistId"
      [album]="album"
    ></app-artist-search>
  </div>
</div> -->
<!-- <app-album-form [album]="album"></app-album-form> -->
