<section class="album-detail-container">
  <h1 class="title">
    <a class="arrow-left-icon" (click)="goBack()">
      <mat-icon>keyboard_backspace</mat-icon></a
    >album details
  </h1>
  <div *ngIf="album" class="items-detail-grid">
    <div class="img-wrapper">
      <img *ngIf="album.coverUrl" src="{{ album.coverUrl }}" alt="" />
      <img
        *ngIf="album.coverUrl === ''"
        src="http://via.placeholder.com/300x360"
        alt="a placeholder cover"
      />
    </div>

    <app-album-form-reactive
      [album]="album"
      [action]="'update'"
    ></app-album-form-reactive>

    <div class="artist-search-input">
      <app-artist-search
        *ngIf="!album.artistId"
        [album]="album"
      ></app-artist-search>
    </div>
    <!-- <app-messages></app-messages> -->
  </div>
</section>
