<div
  class="messages-wrapper"
  *ngIf="messageService.messages.length || messageService.errors.length"
>
  <div class="success-wrapper" *ngIf="messageService.messages.length">
    <div
      class="message-success"
      *ngFor="let messages of messageService.messages"
    >
      {{ messages }}
    </div>
  </div>
  <div class="errors-wrapper" *ngIf="messageService.errors.length">
    <div class="message-error" *ngFor="let error of messageService.errors">
      {{ error }}
    </div>
  </div>
  <!--  <button mat-stroked-button class="clear" (click)="messageService.clear()">
    clear
  </button> -->
</div>
