<main class="main-wrapper">
  <div class="grid-container">
    <h1>
      <a routerLink="/albums">visit all albums</a
      ><a routerLink="/albums" class="arrow-right-icon">
        <mat-icon>arrow_right_alt</mat-icon></a
      >
    </h1>
    <div class="grid dashboard-list">
      <div class="dashboard-card" *ngFor="let album of albums">
        <a routerLink="/detail/{{ album._id }}">
          <div>
            <h2 class="title-card">
              {{ album.title }}
            </h2>
          </div>
          <div class="image-wrapper">
            <img
              *ngIf="album.coverUrl"
              src="{{ album.coverUrl }}"
              alt="album"
            />
            <img
              *ngIf="album.coverUrl === ''"
              src="http://via.placeholder.com/300x360"
              alt="a placeholder cover"
            />
          </div>
          <div class="edit-details-card">
            Got to the album's details or to edit the album
          </div>
          <div class="color-overlay"></div>
        </a>
      </div>
      <app-add-new-item route="/createAlbum" element="album"></app-add-new-item>
    </div>
  </div>

  <div class="grid-container">
    <h1>
      <a routerLink="/artists">visit all artists</a
      ><a routerLink="/artists" class="arrow-right-icon">
        <mat-icon>arrow_right_alt</mat-icon></a
      >
    </h1>
    <div class="grid dashboard-list">
      <div class="dashboard-card" *ngFor="let artist of artists">
        <a routerLink="/detailArtist/{{ artist._id }}">
          <div class="title-card">
            <h2>
              {{ artist.name }}
            </h2>
          </div>
          <div class="image-wrapper">
            <img
              *ngIf="artist.photoUrl"
              src="{{ artist.photoUrl }}"
              alt="artist"
            />
            <img
              *ngIf="artist.photoUrl === ''"
              src="http://via.placeholder.com/300x360"
              alt="a placeholder photo"
            />
          </div>
          <div class="edit-details-card">
            Got to the artist's details or to edit the artist
          </div>
          <div class="color-overlay"></div>
        </a>
      </div>

      <app-add-new-item
        route="/createArtist"
        element="artist"
      ></app-add-new-item>
    </div>
  </div>
</main>
