<div class="add-card-placeholder-container">
  <a class="nav-link" routerLink="{{ route }}">
    <mat-card class="card">
      <mat-card-header class="card-header">
        <mat-card-title class="card-title">Add {{ element }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image />
      <mat-card-content> </mat-card-content>
      <mat-icon class="add-icon" svgIcon="addIcon"></mat-icon>
      <mat-card-actions>
        <button disabled mat-button>Edit</button>
      </mat-card-actions>
    </mat-card>
  </a>
</div>
