/*
***************
general-styles
***************
*/

:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  font-size: 1.6rem;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #0d290d;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  display: block;
}

.grid {
  display: grid;
  grid-gap: 4.5rem;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-auto-rows: minmax(20rem, auto);
  padding: 0 3rem;
}

.title {
  text-align: center;
}
.title .arrow-left-icon {
  position: relative;
  top: 0.4rem;
  left: -1rem;
}

.card .button-edit {
  color: #164416;
}
.card .button-edit:hover {
  color: #569656;
}
.card .button-delete {
  color: rgb(187, 37, 67);
}

.form-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  min-width: 600px;
}

.form {
  min-width: 350px;
  max-width: 900px;
  width: 100%;
}

.form-full-width {
  width: 100%;
}

.form-wrapper .button-submit {
  background-color: #255825;
  color: white;
  display: block;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
}
.button-submit:hover {
  background-color: #193d19;
}

.add-form-container {
  position: relative;
  max-width: 1200px;
  height: 400px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.card .card-header {
  height: 7rem;
}
.card .artist-title:hover {
  color: #164416;
}

.card img {
  height: 250px;
}

.message-error {
  color: rgb(221, 9, 51);
}
.message-success {
  color: #569656;
}
