<h2>Your Albums</h2>

<div class="albums">
  <div
    class="album-card"
    *ngFor="let album of albums$ | async"
    [class.selected]="album === selectedAlbum"
    (click)="onSelect(album)"
  >
    <p>Title: {{ album.title }}</p>
    <p>Genre: {{ album.genre }}</p>
    <p>Year: {{ album.year }}</p>
    <div class="album-title">
      Edit Title: <input #albumTitle [value]="album.title" />
    </div>
    <button (click)="onSaveClicked(album, albumTitle.value)">
      Save new Title
    </button>
  </div>
</div>

<app-album-detail [album]="selectedAlbum"></app-album-detail>
